@model PedalBus.Models.Person
@{
    ViewBag.Title = "All About Me";
}
<hgroup>
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p>You are @Model.DisplayName.</p>
        <p>You have accounts on @Model.Accounts.Count MOD system@(Model.Accounts.Count != 1 ? "s" : "").</p>
    </div>
</div>

<a href="@Url.Action("EditContactInformation", "Person")" class="row-fluid">
    <div class=" span12">
        <h3>Contact Information</h3>
        <p>If you need to submit or update your contact information, click here.</p>
    </div>
</a>
@Html.Partial("_ContactInformation", Model)

<div class="row-fluid">
    <div class="span12">
        <h3>Manager Information</h3>
        <p>@Html.Action("GetNameOfPrime", "Role", new { id = Model.ManagerRoleId }) is your manager. If this is not correct or you need to re-verify this information, click here. Your manager has an active PedalBus role and can dispose requests.</p>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <h3>Background Survey</h3>
        <p>If you need to submit or update your background survey information, click <a href="@Url.Action("EditBackgroundSurvey", "Person")">here</a>.</p>
    </div>
</div>
@Html.Partial("_BackgroundSurvey", Model)

<div class="row-fluid">
    <div class="span12">
        <h3>IT Security Training</h3>
        <p>Our records indicate you last took IT Security Training (@Model.ITSecurityTrainingClass) on @Model.ITSecurityTrainingDate. If this is not correct or you need to update this information, click here. Your training is current until @Model.ITSecurityTrainingExpirationDate.</p>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <h3>Technology Transfer Control Plan (TTCP) or Access Control Plan (ACP)</h3>
        <p>You do not have an ACP number or TTCP designator on file. If you need to update this information, click here.</p>
    </div>
</div>

<div class="row-fluid">
    <div class="span12">
        <h3>Applications/Systems, Groups, and Accounts</h3>
        <p>Listed below are the applications/systems, groups, and corresponding accounts that are in your name. If you need to make any adjustments, click here. Refer to the key below on account status. Login name is denoted as (login name) and days left before account must be revalidated is denoted as [number of days].</p>
    </div>
</div>
<div class="row-fluid">
    <div class="span3">Revalidation Status</div>
    <div class="span3">Account Status</div>
</div>
<div class="row-fluid">
    <div class="span3"><i class="icon-star-empty"></i>&nbsp;Current (Good)</div>
    <div class="span3"><i class="icon-ok"></i>&nbsp;Active</div>
</div>
<div class="row-fluid">
    <div class="span3"><i class="icon-bell"></i>&nbsp;Borderline (Marginal)</div>
    <div class="span3"><i class="icon-remove"></i>&nbsp;Inactive</div>
</div>
<div class="row-fluid">
    <div class="span3"><i class="icon-exclamation-sign"></i>&nbsp;Expired (Bad)</div>
    <div class="span3"><i class="icon-lock"></i>&nbsp;Locked</div>
</div>
<div class="row-fluid">
    <div class="span12"><i class="icon-user"></i>&nbsp;@Model.DisplayName</div>
</div>
@foreach (var item in Model.Accounts)
{
    @Html.Partial("_AccountInformation", item)
}

<div class="row-fluid">
    <div class="span12">
        <h3>Access Request Traffic</h3>
        <p>Listed below are all access requests that are associated with you.</p>
    </div>
</div>
