@model PedalBus.Models.Group

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
	<legend>Group</legend>
	<dl>
		<dt>
			@Html.DisplayNameFor(model => model.ApplicationId)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ApplicationId)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ShortName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ShortName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.LongName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.LongName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.GID)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.GID)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Advertise)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Advertise)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Pseudo)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Pseudo)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Privileged)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Privileged)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.LastAction)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.LastAction)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.LastRemoteUser)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.LastRemoteUser)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.LastRemoteAddr)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.LastRemoteAddr)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.LastModified)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.LastModified)
		</dd>

	</dl>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
