@model PedalBus.Models.RequestFlow

@{
    ViewBag.Title = "Profile Matching";
    // TODO: Delete Render calls to jqueryval and add jqueryval to the _layout page.
    // TODO: Apparently unobtrusive javascript is needed to make the Ajax.BeginForm call work properly.
}

<h2>Profile Matching</h2>

@using (Ajax.BeginForm("GetPeopleWithMatchingSurnames", "Person",
    new AjaxOptions
    {
        HttpMethod = "get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "MatchingPersonResultList"
    }))
{
    <input type="search" name="surname" />
    <input type="submit" value="Search" class="btn" />
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <fieldset class="form-horizontal">
        <legend>Request Flow</legend>
        @Html.HiddenFor(model => model.Id)

        <div id="MatchingPersonResultList"></div>
        @*<div class="control-group">
            @Html.LabelFor(model => model.MatchingPersonId, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.MatchingPersonId)
                @Html.ValidationMessageFor(model => model.MatchingPersonId, null, new { @class = "help-inline" })
            </div>
        </div>*@

        <div class="form-actions no-color">
            <input type="submit" value="Next" class="btn" />
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

