@model PedalBus.Models.Application

@{
    ViewBag.Title = "Details";
}

<h2>@Model.LongName</h2>

<fieldset>
	<legend>Details</legend>
	<dl>
		<dt>
			@Html.DisplayNameFor(model => model.ShortName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ShortName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.LongName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.LongName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.AllowAdds)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.AllowAdds)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Advertise)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Advertise)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Description)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Description)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Phone)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Phone)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Email)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Email)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.PathToFile)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.PathToFile)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.URLPathToFile)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.URLPathToFile)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.LastAction)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.LastAction)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.LastRemoteUser)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.LastRemoteUser)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.LastRemoteAddr)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.LastRemoteAddr)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.LastModified)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.LastModified)
		</dd>

	</dl>
</fieldset>
<h4>Groups</h4>
@Html.Partial("_Groups", Model.Groups)
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
