@model PedalBus.Models.Person

<div class="row-fluid">
    <div class="span3">@Html.DisplayNameFor(model => model.USCitizen)</div>
    <div class="span9">@Model.USCitizen</div>
</div>
<div class="row-fluid">
    <div class="span3">@Html.DisplayNameFor(model => model.Citizenship)</div>
    <div class="span9">@Model.Citizenship</div>
</div>
<div class="row-fluid">
    <div class="span3">@Html.DisplayNameFor(model => model.BirthCountry)</div>
    <div class="span9">@Model.BirthCountry</div>
</div>
<div class="row-fluid">
    <div class="span3">@Html.DisplayNameFor(model => model.LegalPermanentResident)</div>
    <div class="span9">@Model.LegalPermanentResident</div>
</div>
<div class="row-fluid">
    <div class="span3">@Html.DisplayNameFor(model => model.ForeignEmployer)</div>
    <div class="span9">@Model.ForeignEmployer</div>
</div>
<div class="row-fluid">
    <div class="span3">@Html.DisplayNameFor(model => model.Question)</div>
    <div class="span9">@Model.Question</div>
</div>
<div class="row-fluid">
    <div class="span3">@Html.DisplayNameFor(model => model.QuestionAnswer)</div>
    <div class="span9">@Model.QuestionAnswer</div>
</div>

