@model PedalBus.Models.Person

<div class="row-fluid">
    <div class="span3">@Html.DisplayNameFor(model => model.GivenName)</div>
    <div class="span9">@Model.GivenName</div>
</div>
<div class="row-fluid">
    <div class="span3">@Html.DisplayNameFor(model => model.MiddleName)</div>
    <div class="span9">@Model.MiddleName</div>
</div>
<div class="row-fluid">
    <div class="span3">@Html.DisplayNameFor(model => model.Surname)</div>
    <div class="span9">@Model.Surname</div>
</div>
<div class="row-fluid">
    <div class="span3">@Html.DisplayNameFor(model => model.EmailAddress)</div>
    <div class="span9"><a href="mailto:@Model.EmailAddress">@Model.EmailAddress</a></div>
</div>
<div class="row-fluid">
    <div class="span3">@Html.DisplayNameFor(model => model.Employer)</div>
    <div class="span9">@Model.Employer</div>
</div>
<div class="row-fluid">
    <div class="span3">@Html.DisplayNameFor(model => model.OrgCode)</div>
    <div class="span9">@Model.OrgCode</div>
</div>
<div class="row-fluid">
    <div class="span3">@Html.DisplayNameFor(model => model.MailStop)</div>
    <div class="span9">@Model.MailStop</div>
</div>
<div class="row-fluid">
    <div class="span3">@Html.DisplayNameFor(model => model.Bldg)</div>
    <div class="span9">@Model.Bldg</div>
</div>
<div class="row-fluid">
    <div class="span3">@Html.DisplayNameFor(model => model.Room)</div>
    <div class="span9">@Model.Room</div>
</div>
<div class="row-fluid">
    <div class="span3">@Html.DisplayNameFor(model => model.Phone)</div>
    <div class="span9">@Model.Phone</div>
</div>
<div class="row-fluid">
    <div class="span3">@Html.DisplayNameFor(model => model.Mobile)</div>
    <div class="span9">@Model.Mobile</div>
</div>
<div class="row-fluid">
    <div class="span3">@Html.DisplayNameFor(model => model.Center)</div>
    <div class="span9">@Model.Center</div>
</div>
<div class="row-fluid">
    <div class="span3">@Html.DisplayNameFor(model => model.Address)</div>
    <div class="span9">@Model.Address</div>
</div>
<div class="row-fluid">
    <div class="span3">@Html.DisplayNameFor(model => model.State)</div>
    <div class="span9">@Model.State</div>
</div>
<div class="row-fluid">
    <div class="span3">@Html.DisplayNameFor(model => model.PostalCode)</div>
    <div class="span9">@Model.PostalCode</div>
</div>
<div class="row-fluid">
    <div class="span3">@Html.DisplayNameFor(model => model.Id)</div>
    <div class="span9">@Model.Id</div>
</div>
<div class="row-fluid">
    <div class="span3">@Html.DisplayNameFor(model => model.UUPIC)</div>
    <div class="span9">@Model.UUPIC</div>
</div>
<div class="row-fluid">
    <div class="span3">@Html.DisplayNameFor(model => model.UUPIC)</div>
    <div class="span9">@Model.X500ID</div>
</div>
<div class="row-fluid">
    <div class="span3">@Html.DisplayNameFor(model => model.DomainID)</div>
    <div class="span9">@Model.DomainID</div>
</div>
<div class="row-fluid">
    <div class="span3">@Html.DisplayNameFor(model => model.AUID)</div>
    <div class="span9">@Model.AUID</div>
</div>

